
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/12/503948d15ac2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/14/b0c4580c5bc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/15/807da65940c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/2/a081a2b640c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/25/00a7b5f08cc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/28/108ef35240c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/29/20c8140a5bc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/2f/606c675e4dc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/2f/70e997feeac1001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/3/c06996764ec2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/34/809519dd5ac2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/3b/e099cf375ec2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/3d/0005afe95ac2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/56/00e7066f40c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/59/30c2caa45ac2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/6/2054b485e6c1001d1203ae9e098c2b81
.metadata/.plugins/org.eclipse.core.resources/.history/6/b0cf11f24cc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/65/0021c75d8ac2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/65/30e536318ac2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/6b/5061ef85e6c1001d1203ae9e098c2b81
.metadata/.plugins/org.eclipse.core.resources/.history/72/30cd125939c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/79/f0beed395ec2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/80/70b0097568c2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/8d/7056c07933c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/93/b09e508e33c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/97/10437cec8cc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/97/b0d8e22c5bc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/9f/f02417e870c2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/a4/b0b9d17339c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/a5/30a9d1818ac2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/a6/a029001140c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/a7/e00e2de433c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/a7/e0e496f8eac1001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/a9/60fc83f98cc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/b3/5005162289c2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/b7/d091d48c8ac2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/ba/b0aae7e240c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/bb/506ec3c58dc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/bf/f0e49a6739c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/c/0036486d4ec2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/c/90f529f684c2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/c0/f0ae1dfb2bc3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/c3/d0f2c76ce8c1001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/cc/b0d46c125ec2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/d/20fd203539c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/d3/f0c2a240eac1001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/d4/f07373575bc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/de/6073ad7d68c2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/e0/4078956940c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/e6/a003b86b4fc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/e9/208240318ac2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/eb/10cbdc5139c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/ec/001b017e4fc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/ec/d06c8e4e5cc2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/f1/4077016b33c3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/fa/9094adfd5ac2001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/fc/308f902deac1001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.history/fe/60a20cea2bc3001d1208932818e1d841
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/EpicodeBackendCourse1/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/EpicodeBackendCourse1/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/EpicodeBackendCourse1/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/L1/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/L1/.indexes/e4/b2/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/L1/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/L1/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/L1/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/1.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.tm4e.registry.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.tm4e.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Helloworld.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Test2.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/TestFile.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.eclemma.core/.execdata/session17122272466342952988.exec
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/2377328780.index
.metadata/.plugins/org.eclipse.jdt.core/2549419765.index
.metadata/.plugins/org.eclipse.jdt.core/3267201208.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/L1/2023/3/11/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/L1/2023/3/11/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.0.20221015-0744.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
*.ini
/.metadata/
